<div ng-controller="DepositsController">
  <h4>My {{account.currency | uppercase}} Memo:</h4>
  <p>Ensure to include the correct Memo before sending your XLM deposit.</p>
  <p>Ommitting this information will lead your XLM not being credited to your account, which may be irretrievable.</p>
  <hr class="split">
  <div id="deposit_address">{{account.stellar_deposit_memo}}</div>
  <a  data-clipboard-text="{{account.stellar_deposit_memo}}" class="btn btn-primary btn-lg btn-block" data-clipboard-action="copy">
    <i class="fa fa-copy"></i>
    Copy Memo
  </a>
</div>
