<div class = "col-lg-6 col-sm-12">
    <h4>Withdrawal History</h4>
  <div class="panel panel-success">
    <div class="panel-heading">Recent Withdrawal History</div>
    <div class="table-responsive">
      <table class="table withdraw-history table-striped table-hover table-condensed" ng-controller="WithdrawHistoryController">
        <tr>
          <th>ID</th>
          <th>Time</th>
          <th>Address</th>
          <th>Amount</th>
          <th>Fee</th>
          <th>Total</th>
          <th>Status</th>
        </tr>
        <tr ng-repeat="withdraw in withdraws | orderBy:predicate">
          <td>{{withdraw.id}}</td>
          <td>{{withdraw.created_at | date:'yyyy-MM-dd HH:mm'}}</td>
          <td title="{{withdraw.fund_extra}} @ {{withdraw.fund_uid}}">
            <a href="{{withdraw.blockchain_url}}" target='_blank'>{{withdraw.fund_uid | truncate: 20}}</a>
          </td>
          <td>{{withdraw.amount - withdraw.fee|number:4}}</td>
          <td>{{withdraw.fee|number:4}}</td>
          <td>{{withdraw.amount|number:4}}</td>
          <td>{{"wallets.withdraw_history." + withdraw.aasm_state | t}}
            <span ng-if="canCancel(withdraw.aasm_state)">/
              <a ng-click="cancelWithdraw(withdraw); $event.preventDefault()" href="#" class="cancel_link">{{ "wallets.withdraw_history.cancel" | t }}</a>
            </span>
          </td>
        </tr>
        <tr ng-if="noWithdraw()"><td colspan="6"><span class="help-block text-center">There is no history data</span></td></tr>
      </table>
    </div>
  </div>
  
  <a class="historylink" href="/history/withdrawals">
    View Your Complete Withdrawal History
  </a>
</div>
