<ng-include src="'/templates/wallets/_flash.html'"></ng-include>
<div ng-controller="ChooseNetworkController">
  <ol class="breadcrumb">
    <li><a href="/wallets">Wallets</a></li>
    <li>
      <a href="#!/deposits/{{currency}}">
        <span class="text-uppercase">{{currency}}</span> Wallet
      </a>
    </li>
    <li class="active">
      <a href="#!/{{action}}s/{{currency}}">
        <span class="text-capitalize">{{action}}</span> <span class="text-uppercase">{{currency}}</span>
      </a>
    </li>
  </ol>
  <div class="row">
      <div class="col-lg-6">
          <ul class="nav nav-pills">
       
              <li class = "navpill" role="presentation" ng-class="action=='deposit' ? 'active' : 'notactive'">
                <a href="#!/deposits/{{currency}}" ng-click="accountsCtrl.deposit(account);">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  Deposit <span class="text-uppercase">{{currency}}</span>
                </a>
              </li>
           
         
              <li class = "navpill" role="presentation" ng-class="action=='withdraw' ? 'active' : 'notactive'">
                <a href="#!/withdraws/{{currency}}" ng-click="accountsCtrl.withdraw(account);">
                  <i class="fa fa-send"></i>
                  Withdraw <span class="text-uppercase">{{currency}}</span>
                </a>
              </li>
             
            </ul>
      </div>
  </div>

  <br>
  <div ng-switch="currency">
    <div ng-switch-when="usd">
      <ng-include src="'/templates/wallets/'+ action + '_bank.html'"></ng-include>
    </div>
    <div ng-switch-when="zar">
      <ng-include src="'/templates/wallets/'+ action + '_bank.html'"></ng-include>
    </div>
    <div ng-switch-when="kes">
      <ng-include src="'/templates/wallets/'+ action + '_bank.html'"></ng-include>
    </div>
    <div ng-switch-when="ugx">
      <ng-include src="'/templates/wallets/'+ action + '_bank.html'"></ng-include>
    </div>
    <div ng-switch-when="tzs">
      <ng-include src="'/templates/wallets/'+ action + '_bank.html'"></ng-include>
    </div>
    <div ng-switch-when="rwf">
      <ng-include src="'/templates/wallets/'+ action + '_bank.html'"></ng-include>
    </div>
    <div ng-switch-when="xaf">
      <ng-include src="'/templates/wallets/'+ action + '_bank.html'"></ng-include>
    </div>
    <div ng-switch-when="ngn">
      <ng-include src="'/templates/wallets/'+ action + '_bank.html'"></ng-include>
    </div>

    <div ng-switch-when="xlm">
      <ng-include src="'/templates/wallets/_'+ action + '_xlm.html'"></ng-include>

      <ng-include src="'/templates/wallets/_' + action + '_xlm_history.html'"></ng-include>
    </div>

    <div ng-switch-when="rmt">
      <ng-include src="'/templates/wallets/'+ action + '_sureremit.html'"></ng-include>

      <ng-include src="'/templates/wallets/' + action + '_sureremit_history.html'"></ng-include>
    </div>

    <div ng-switch-default>
      <ng-include src="'/templates/wallets/_'+ action + '_coin.html'"></ng-include>

      <ng-include src="'/templates/wallets/_' + action + '_coin_history.html'"></ng-include>
    </div>
  </div>