<div class="two-factor-auth-container string required">
  <div class="col-sm-3">
    <label class="string required control-label" for="two_factor_otp"><h4>Code: </h4></label>
  </div>
  <div class="col-sm-9">
    <div class="input-group">
      <input class="two_factor_auth_type" name="two_factor_type" type="hidden" value="app" />
      <input class="string required form-control" id="two_factor_otp" name="two_factor_otp" placeholder='6 Digit Password' />
      <div class="input-group-btn send-code-button"></div>
    </div>
  </div>
    <span class="help-block app col-sm-9 col-sm-offset-3">Google Authenticator will re-generate a new password every thirty seconds, please input timely.</span>
  <div class="captcha-wrap col-sm-6 col-sm-offset-3"></div>
</div>
