<div class="help-block">
  <p>
    <span class="text-warning">You have </span>
    <span><strong>
      <a class="currency-balance" id="withdraw_balance"  ng-click="withdrawAll()" id="withdraw_all_btn">
        <i class="fa fa-{{currency}}"></i> {{balance | number:2}}
      </a>
    </strong></span>
    <span class="text-warning"> available for withdrawal. </span>
    <span><strong>
      <a class="currency-balance">
        <i class="fa fa-{{currency}}"></i> {{locked | number:2}}
      </a>
    </strong></span>
    <span class="text-warning"> is locked in orders. </span>
  </p>
</div>
