<div class="dialog-contents">

  <h3>We've received your request to deposit</h3>
  &nbsp<span ng-bind="ngDialogData.amount"></span>
  &nbsp<span ng-bind="ngDialogData.currency | uppercase"></span>.
  
  <div ng-if="!ngDialogData.dusuPayment">
    <p>To complete your deposit send
      &nbsp<span ng-bind="ngDialogData.amount"></span>
      &nbsp<span ng-bind="ngDialogData.currency| uppercase"></span>
      &nbsp
      to the following account: <br/>
    
      <div ng-if="ngDialogData.currency == 'zar'">
        Bank: FNB<br>
        Account Number: <strong>62776436670</strong><br>
        Account Name: Golix (Pty) Ltd<br>
        Account Type: Cheque<br>
      </div>
  </div>
  <br>
  <div ng-if="ngDialogData.dusuPayment">
    <p><strong>We shall process your deposit within one working day of receiving your funds.</strong></p>
  </div>

  <div class="clearfix">
    <button class="confirm btn btn-info pull-right" ng-click="closeThisDialog()" >OK! I understand</button>
  </div>
</div>
