<div class="dialog-contents">
  <h3>
    We'll process your withdrawal within one working day
  </h3>

  We've received your request to withdraw
  &nbsp<span ng-bind="ngDialogData.amount"></span>
  &nbsp<span ng-bind="ngDialogData.currency | uppercase"></span>
  to
  <span ng-bind="ngDialogData.bank | uppercase"></span>

  &nbsp(<span ng-bind="ngDialogData.fund_uid | uppercase"></span>).

  <p>You do not need to take any action right now.</p>

  <div class="clearfix">
    <button class="confirm btn btn-info pull-right" ng-click="closeThisDialog()" >OK! I understand</button>
  </div>
</div>
